@model LearnerProject.Models.Entities.Club
@{
    ViewBag.Title = "AddClub";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<br />
<h3>Add New Club</h3>
<br />
<form method="post">
    <label>Club Name</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control"})
    <br />
    <label>Icon</label>
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control"})
    <br />
    <label>Club Name</label>
    @Html.TextAreaFor(x => x.Description, 5, 1, new { @class = "form-control"})
    <br />

    <button class="btn btn-outline-primary">Save</button>
</form>