@model LearnerProject.Models.Entities.Admin
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<br />
<h3>Add New Admin</h3>
<br />
<form method="post">
    <label>Name Surname</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>UserName</label>
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    <label>Password</label>
    @Html.PasswordFor(x => x.Password, new { @class = "form-control" }) @*// Use PasswordFor for password input*@
    <br />
    <label>Image URL</label>
    @Html.TextBoxFor(x => x.ImageUrl, new {@class = "form-control"})
    <br />

    <button class="btn btn-outline-primary">Save</button>
</form>