@model LearnerProject.Models.Entities.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<br />
<h3>Add New Category</h3>
<br />
<form method="post">
    <label>Category Name</label>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    
    <button class="btn btn-outline-primary">Save</button>
</form>