@model List<LearnerProject.Models.Entities.CourseRegister>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/StudentLayout/Index.cshtml";
    int count = 0;
}

<h2>My Registered Courses</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Course Name</th>
        <th>Course Content</th>

    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Course.CourseName</td>
            <td><a href="/StudentCourse/MyCourseList/@item.CourseId" class="btn btn-outline-info">Course Content</a></td>

        </tr>
    }

</table>